.block-heading {
  text-align: center;
  padding: 40px 0;
}

.block-heading h2 {
  color: #3b99e0;
}

.block-heading p {
  text-align: center;
}

.summary {
  border-top: 3px solid #5ea4f3;
  background-color: #f7fbff;
}